@font-face {
  font-family: "iconfont"; /* Project id 2602446 */
  src: url('iconfont.woff2?t=1623219365896') format('woff2'),
       url('iconfont.woff?t=1623219365896') format('woff'),
       url('iconfont.ttf?t=1623219365896') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dianzan:before {
  content: "\e61a";
}

