@font-face {
  font-family: "iconfont"; /* Project id 2626485 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1624356074981') format('woff2'),
       url('iconfont.woff?t=1624356074981') format('woff'),
       url('iconfont.ttf?t=1624356074981') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ts:before {
  content: "\e664";
}

.icon-wenjian:before {
  content: "\e61e";
}

.icon-html:before {
  content: "\e61c";
}

.icon-txt:before {
  content: "\e64b";
}

.icon-dir:before {
  content: "\e64e";
}

.icon-css:before {
  content: "\e618";
}

.icon-js:before {
  content: "\e619";
}

.icon-json:before {
  content: "\e61a";
}

.icon-vue:before {
  content: "\e61b";
}

